/*==========  Header ==========*/
.header-containter {
  position: fixed;
  background-color: black;
  width: 100%;

}
.header-div {
  align-items: center;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid seashell;
  height: 69px;
}
.header-div img {
  padding: 0px 0px 0px 10px;
  margin-right: auto;
  height: 50px;
}
.header-div span a {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  padding: 0px 15px;
}

/*========== Body ===========*/

body {
  margin-top: 0px;
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;

}

/*========== OUR MISSION IMAGE ===========*/
.ourmission {
  padding-top: 69px;
background-image: url("img/img-mission-background.jpg");
}

/*========== Tea Of The Month ===========*/
.teaofthemonth {

}
