/*==========  Header ==========*/
.header-containter {
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 6;
}
.header-div {
  align-items: center;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid seashell;
  height: 69px;
}
.header-div img {
  padding: 0px 0px 0px 10px;
  margin-right: auto;
  height: 50px;
}
.header-div span a {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  padding: 0px 15px;
}

/*========== Body ===========*/

body {
  margin-top: 0px;
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;

}

/*========== OUR MISSION IMAGE ===========*/
.ourmission {
/* padding-top: 350px; */
background-image: url("img/img-mission-background.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 700px;
width: 1200px;
display: flex;
margin: auto;
align-items: center;
flex-direction: column;
justify-content: space-around;
}
.image-textcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  width: 1200px;

}

.ourmission h2 {
  font-family: helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin: 15px;
}

.ourmission h4 {
  background-color: black;
  font-family: helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin: 15px;
}
/*========== Tea Of The Month Section ===========*/


/*========== Title bar Text ===========*/
.header-text h2 {
  margin: 60px auto 0px auto;
}
.header-text h4 {
  margin: 15px auto 0px auto;
}
/*========== images ===========*/
.teaofthemonth-image-container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: auto;
  justify-content: center;
  margin: auto;

}
.image-row-1-c-1 {
background-image: url("img/img-mission-background.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 200px;
width:  300px;
}
.image-row-1-c-2 {
background-image: url("img/img-spiced-rum.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 200px;
width:  300px;
}
.image-row-1-c-3 {
background-image: url("img/img-donut.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 200px;
width:  300px;
}

.image-text h4 {
  align-items: flex-end;
  padding-top: 215px;

}
/*========== Spacing between images ===========*/
.teaimages {

padding: 0px 15px 45px 15px;
}

/*========== Locations ===========*/
.spacer {
  margin: 80px;
}
.locations-container {
  height: 500px;
  width: 1200px;
  margin: auto;
  background-image: url("img/img-locations-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.locations-label {
  margin: 0px 0px 15px 0px;
  padding: 60px 0px 0px 0px;
}

.locations-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.location-box {
  width: 300px;
  margin: 0px 20px 0px 20px;
  background-color: black;
  height: auto;
  opacity: 1;
}
.location-box h2, h3{
  padding: 10px;
  margin: 0px;
}

/*========== Contact ===========*/
.contact-container {
  height: 200px;
}
.contect-text h2 {
  margin: 15px auto 0px auto;
}
.contect-text h4 {
  margin: 15px auto 0px auto;
}

/*========== Contact ===========*/
.copyright {
  text-align: left;
  margin-left: 20px;
}
